{% extends 'base.html.twig' %}

{% block title %}Récuperation de compte{% endblock %}

{% block body %}

    <div class="h1 mx-auto mt-5 text-center text-white font-coolvetica user-select-none">Récuperation de compte</div>

    <div class="container p-3 bg-light text-center border-psych font-coolvetica">

        <a href="/inscription" class="container-fluid btn btn-lg btn-dark text-info border border-info fs-3">Vous n'êtes pas encore inscrit ?</a>
        
        <div class="position-relative text-center w-100 bg-dark p-5 shadow-inset-f1">

            <a href="/connexion" class="user-select-none btn btn-dark border border-info link-info p-auto position-absolute top-0 start-0 ms-5 mt-5" 
            data-bs-toggle="tooltip" data-bs-placement="top" title="Retour">
            
                <i class="align-middle material-icons transform-mirror md-48">exit_to_app</i>
            </a>

            <form action="" method="POST">

                {# Token CSRF #}
                <input type="hidden" 
                    name="tokenCSRF" 
                    value="{{ csrf_token('RP_user_csrf') }}"
                >

                <div class="container mx-auto text-white">
                    
                    {# Bloc d'érreures pour javascript #}
                    <small id="error" class="d-none text-danger"></small>

                    {# Nom d'utilisateur #}
                    <div class="form-group mb-2 fs-4">
                        <label for="mail">Veuillez rentrer l'adresse e-mail du comte à récuperer :</label>
                        <input type="text" class="form-control mx-auto w-50" placeholder="John.Doe@exemple.com" name="mail" id="mail" required>
                    </div>

                </div>

                {# anti-spam question PHP par toutatis ! :wink: #}
				<div id="itna_spam" class="fs-4 text-white form-group mt-2">

					{# Spinner de chargement #}
                    <div class="spinner-border text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
				</div>

                {# Bouton d'envoi #}
                <div class="mx-auto mt-3">
                    <button type="submit" id="submit_button" class="btn btn-lg fs-3 btn-dark border border-info">Envoyer un e-mail de récuperation</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('reset_pass') }}

{% endblock %}