

<label for="itna_spam_question" class="lb-lg lb-left p-2 font-coolvetica mr-auto ml-5">
    <u>Question d'anti-spam :</u>

    {{ itna_question_masp.question }}

</label>

<input type="hidden" name="turing_id_question" value="{{ itna_question_masp.id }}">
<input type="text" name="turing_reponse" id="itna_spam_question" class="d-inline w-14 form-control border border-dark mr-5 ml-auto">