// Background -->
.bg-dark-transparent{
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-black{
    background-color: black !important;
}

.bg-green{
    background-color: #51a42d !important;
}

.bg-yellow{
    background-color: #F5E400 !important;
}

.bg-turquoise{
    background-color: #7AFFF6 !important;
}

.bg-pink{
    background-color: #FFD6F6 !important;
}