// Width
.w-14{
    width: 14% !important;
}

.w-35{
    width: 35% !important;
}

.w-40{
    width: 40% !important;
}

.w-42{
    width: 42% !important;
}

.w-90{
    width: 90% !important;
}

// Height
.h-14{
    height: 14% !important;
}

.h-24{
    height: 24% !important;
}

.h-200{
    height: 100em !important;
}