{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}

{% block body %}
<div class="h1 mx-auto mt-5 text-center text-white font-coolvetica user-select-none">Inscription</div>

    <div class="container p-3 bg-light text-center border-psych font-coolvetica">

        <a href="/connexion" class="container-fluid btn btn-lg btn-dark text-info border border-info fs-3">Vous êtes déjà inscrit ?</a>

        <div id="inscription" class="mx-auto w-100 bg-dark p-5 shadow-inset-f1 fs-4">

            <form id="inscription_form" action="" method="POST">

                {# Token CSRF #}
                <input type="hidden" 
                    name="tokenCSRF" 
                    value="{{ csrf_token('inscriprion_new_user_csrf') }}"
                >

                {# Formulaire d'un nouvel utilisateur #}
                <div class="container mx-auto text-white">
                    
                    {# Bloc d'érreures d'inscription pour PHP #}
                    {% if inscription_error is defined %}
                        <small id="error_user" class="text-danger">
                            <i class="material-icons user-select-none align-middle md-36">warning</i>
                            {{ inscription_error }}
                        </small>
                    {% endif %}

                    {# Bloc d'érreures d'inscription pour JAVASCRIPT #}
                    <small id="error_js_user" class="text-danger d-none">
                        <i class="material-icons user-select-none align-middle md-36">warning</i>
                        <span id="inscription_error"></span>
                    </small>

                    {# Nom d'utilisateur #}
                    <div class="form-group mb-2 fs-4">
                        <label for="username">Nom d'utilisateur :</label>
                        <input type="text" class="form-control mx-auto w-50" placeholder="John.Doe" name="username" id="username" required>
                    </div>

                    {# Adresse e-mail #}
                    <div class="form-group fs-4">
                        <label for="mail">Adresse e-mail :</label>
                        <input type="mail" class="form-control mx-auto w-50" placeholder="John.Doe@example.com" name="mail" id="mail" required>
                    </div>

                    <hr class="mt-5">
            
                    {# Bloc de progression de la sécurité du mot de passe utilisateur #}
                    <div class="pt-4 w-50 mx-auto position-relative">

                        <i id="low" class="position-absolute start-0 top-0 translate-middle material-icons user-select-none md-36">lock</i>
                        <i id="better" class="position-absolute top-0 start-50 translate-middle material-icons user-select-none md-36">security</i>
                        <i id="strong" class="position-absolute top-0 start-100 translate-middle material-icons user-select-none md-36">verified_user</i>

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" style="width:0%"></div>
                        </div>
                    </div>

                    {# Mot de passe n°1 #}
                    <div class="form-group mb-2 fs-4">
                        <label for="pass1">Mot de passe :</label>
                        <input type="password" class="form-control mx-auto w-50" name="pass1" id="pass1" required>
                    </div>

                    {# Mot de passe n°2 #}
                    <div class="form-group fs-4">
                        <label for="pass2">Répétez votre mot de passe :</label>
                        <input type="password" class="form-control mx-auto w-50" name="pass2" id="pass2" required>
                    </div>
                </div>

                {# Bouton d'envoi #}
                <div class="mx-auto mt-4">
                    <button type="button" id="submit_button" class="btn btn-lg btn-dark border border-info fs-3">S'inscrire</button>
                </div>
            </form>
                
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('inscription') }}

{% endblock %}